
#photofeed {
    margin-top: 40px;
}

.small-logo {
	margin-top: 20px;
	border-right: 1px solid $COLOR-GRAY;
	text-align: center;
	font-family: $DEFAULT-FONT-MAIN;
	padding: 0px;

	h2 {
		font-size: 32px;
	}

	img {
		width: 80%;
		margin: 0px auto 0px auto;
		min-width: 180px;

		@media (max-width: 767px) {
			width: 50%;
			border-bottom: 1px solid $COLOR-GRAY;
			padding: 0px 30px 0px 30px;
		}
	}
}