
.challenge-wrapper {
	.row {
		height: auto;
	}
}



#photofeed {
    margin-top: 40px;
}


.small-logo {
	padding: 20px 0px 0px 0px;
	border-right: 1px solid $COLOR-GRAY;
	text-align: center;
	font-family: $DEFAULT-FONT-MAIN;


	h2 {
		font-size: 32px;
		color: #363d3d;
	}

	img {
		width: 80%;
		margin: 0px auto 0px auto;
		min-width: 180px;

		@media (max-width: 767px) {
			width: 100%;
			border-bottom: 1px solid $COLOR-GRAY;
			padding: 0px 30px 0px 30px;
		}
	}

}

.feed {
	background-color: #f7f3f3;
	border-right: 1px solid $COLOR-GRAY;
	height: 100%;
	padding: 0px;
