{% include 'head.html' %}
<body>
    <div class="main-wrapper">
        <div class="row">
            <div class="col-sm-2">
                <img class="logo">
            <div>
            <div class="share-icons hidden" hidden>
                <span>share</span>
                <a href="#"><img src=""></a>
                <a href="#"><img src=""></a>
                <a href="#"><img src=""></a>
            </div>
            <div class="col-sm-8">
                {% include 'challenge/photofeed.html' %}
            <div>
            <div class="col-sm-2 col-xs-0"><div>
        </div>
        <div class="row">
            {% include 'challenge/footer.html' %}
        </div>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</body>
