<footer>
    <div class="share-icons col-sm-4 col-xs-0">
        <span>share</span>
        <a href="#"><img src=""></a>
        <a href="#"><img src=""></a>
        <a href="#"><img src=""></a>
    </div>
    <div class="col-sm-6 col-xs-8">
        <div class="line">
            <div class="title" id="challengeNameHolder">  challenge.name  </div>
            <div class="countdown" id="countdownContainer"></div>
        </div>
        <div class="line" id="challengeUrlContainer">
             challenge.url
        </div>
    </div>
    <div class="col-sm-2 col-xs-4">
        <form name="upload-img" accept="image/*">
            <input type="submit">
        </form>
    </div>
</footer>
