<footer>
    <div class="anchor-row footer navbar-fixed-bottom">

    <div class="col-sm-8 foot-name">
        <div class="row title-countdown">
            <div class="col-sm-7 title" id="challengeNameHolder">Challenge: challenge.name</div>
            <div class="col-sm-5 countdown" id="countdownContainer">Timer: </div>
        </div>
        <div class="row url hidden-xs" id="challengeUrlContainer">
            URL: challenge.url
        </div>
    </div>

    <div class="col-sm-4 foot-upload">
        <form name="upload-img" enctype="multipart/form-data">

            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>

            <input type="file" name="image" id="image" accept="image/*" />
            <!-- below should be hidden -->
            <input class="hidden-elt" name="userName" id="userNameFinal" type="text" />
            <input class="hidden-elt" name="caption" id="captionFinal" type="text" />
            <input class="hidden-elt" type="submit" />
        </form>
    </div>
    </div>
    </div>
</footer>
