//
// Variables
// --------------------------------------------------

// Colors
$COLOR-BACKGROUND-DEFAULT: #F9F9F8;
$COLOR-BUTTON: #d58cb6;
$COLOR-BUTTON-HOVER: #B5799C;
$COLOR-BUTTON-FONT: #FAF0F9;


// Fonts
$DEFAULT-FONT-MAIN: 'Lucida Grande',sans-serif;

