body {
  background-color: #F9F9F8; }

.logo {
  font-family: "Lucida Grande", sans-serif;
  text-align: center; }
  .logo h1 {
    font-size: 64px; }
    @media (max-width: 767px) {
      .logo h1 {
        font-size: 48px; } }
  .logo span {
    padding: 0px 3px 0px 3px; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.card {
  padding: 0;
  border: 2px solid #CCCCCC;
  border-radius: 10px; }

.submission-details {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 20px auto; }

.main-wrapper {
  width: 55%;
  margin: 0px auto 0px auto;
  max-width: 430px; }
  @media (max-width: 767px) {
    .main-wrapper {
      width: 70%; } }

.welcome {
  padding-top: 40px;
  text-align: center;
  border-bottom: 1px solid #CCCCCC; }
  .welcome img {
    width: 90%;
    height: auto; }
  .welcome .motto {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 25px; }
    @media (max-width: 767px) {
      .welcome .motto {
        font-size: 20px; } }

.create-challenge {
  padding-top: 25px; }
  .create-challenge label {
    font-family: "Lucida Grande", sans-serif;
    color: #6b6e6e; }
  .create-challenge input, .create-challenge select {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }
  .create-challenge input:focus, .create-challenge .uneditable-input:focus, .create-challenge select:focus {
    border-color: #d58cb6 !important;
    box-shadow: 0 1px 1px transparent inset, 0 0 8px #F9F9F8 !important;
    outline: 0 none !important;
    drop-shadow: 0 1px 1px transparent inset, 0 0 8px transparent !important; }
  .create-challenge button {
    width: 100%;
    color: #FAF0F9;
    background-color: #d58cb6;
    text-align: center;
    transition: all .6s;
    border: 0; }
  .create-challenge button:hover {
    background-color: #B5799C;
    color: #FAF0F9; }

.challenge-wrapper .row {
  height: auto; }

.small-logo {
  padding: 20px 0px 0px 0px;
  border-right: 1px solid #CCCCCC;
  text-align: center;
  font-family: "Lucida Grande", sans-serif; }
  .small-logo h2 {
    font-size: 32px;
    color: #363d3d; }
  .small-logo img {
    width: 80%;
    margin: 0px auto 0px auto;
    min-width: 180px; }
    @media (max-width: 767px) {
      .small-logo img {
        width: 100%;
        border-bottom: 1px solid #CCCCCC;
        padding: 0px 30px 0px 30px; } }

.feed {
  background-color: #f7f3f3;
  border-right: 1px solid #CCCCCC;
  height: 100%;
  padding: 0px; }

.anchor-row {
  font-family: "Lucida Grande", sans-serif;
  background-color: #e9e8e8 !important;
  color: #657171;
  overflow: auto; }
  .anchor-row .foot-name {
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    overflow: auto; }
    .anchor-row .foot-name .title {
      border-right: 1px solid #CCCCCC; }
      @media (max-width: 767px) {
        .anchor-row .foot-name .title {
          border-right: 0px solid #CCCCCC;
          border-bottom: 1px solid #CCCCCC; } }
    .anchor-row .foot-name .url {
      border-top: 1px solid #CCCCCC; }
  .anchor-row .foot-upload {
    overflow: hidden;
    padding: 0px;
    height: 100%; }
    .anchor-row .foot-upload .hidden-elt {
      display: none; }
    .anchor-row .foot-upload button {
      height: 100%;
      width: 100%;
      z-index: 10;
      position: absolute; }
    .anchor-row .foot-upload #image {
      position: relative; }
    .anchor-row .foot-upload .glyphicon {
      color: #595959; }
  @media (max-width: 767px) {
    .anchor-row {
      padding-bottom: 40px; } }

/*# sourceMappingURL=main.css.map */
