<div class="modal-wrapper">
  <div class="wormhole upload-modal">
    <div class="modal-header">
      <span class="close-button">&times;</span>
    </div>
    <div class="modal-content">
      <img alt="Preview for selected image" />

      <form name="makePost" method="POST" action="" accept-charset="utf-8">
        <label for="userName">Your name:</label>
        <input name="userName" id="userName" type="text" />

        <label for="caption">Enter caption:</label>
        <input name="caption" id="caption" type="text" />

        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
